fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-openai
langchain-community
langgraph

chromadb
langchain-chroma
langchain-text-splitters

rank-bm25
jieba

numpy==2.2.6
PyYAML==6.0.3
FlagEmbedding==1.4.0
huggingface_hub==0.36.2
transformers==4.57.6
asyncpg
pgvector
elasticsearch>=8.15,<9
langgraph-checkpoint-postgres
